# DATABASE
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# EMAIL PROVIDER
GMAIL_PWD=
GMAIL_MAIL=
APP=
GMAIL_APP_PWD=

# CORS (react-scripts start to run by default on 3000, but we can change with PORT, HTTPS, HOST)
PORT=
HTTPS=
HOST=
FRONTEND_URL=

HTTP_PORT=
HTTPS_PORT=
REACT_APP_BACKEND_ORIGIN=

# JWT
JWT_SECRET=
