# DATABASE
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# EMAIL PROVIDER
GMAIL_PWD=
GMAIL_MAIL=
APP=
GMAIL_APP_PWD=

# CORS
PORT=
HOST=
FRONTEND_URL=

# JWT
JWT_SECRET=

# REACT
REACT_APP_BACKEND_URL=