div.profile-card {
  display: grid;
  position: relative;
  height: 300px;

  div.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: .25rem;

    .username {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.5);
      height: max-content;
      padding: .25rem .5rem;
    }

    .controls {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-around;
      padding: .25rem;

      .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        cursor: pointer;
        transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &:hover {
          transform: scale(1.25);
        }

        img {
          width: inherit;
          height: inherit;
        }

      }
    }
  }

  img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}